/* 
font-family: 'Merriweather', Baskerville, Georgia, Garamond, serif; 
font-family: 'Lato', Helvetica, Verdana, Tahoma, sans-serif;


rem font size
rem other things

em buttons

*/

:root {
    --main-color: hsl(250, 79%, 68%);
    --main-color-darker: hsl(250, 48%, 47%);
    --light-color: hsl(0, 0%, 100%);
    --input-success-color: hsl(154, 91%, 40%);
    --input-error-color: hsl(348, 100%, 61%);
    --regular-font-size: 2rem;
    --header-font-family: 'Merriweather', Georgia, Garamond, serif;
    --body-font-family: 'Lato', Helvetica, Verdana, Tahoma, sans-serif;
}

.title {
    font-size: 4.5rem;
}

h1, h2 {
    font-family: var(--header-font-family);
}

h1 {
    margin: 0.3em 0;
    /* top right/left bottom */
    /* top right bottom left */
}
body {
    font-family: var(--body-font-family);
    font-size: var(--regular-font-size);
}

.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2.5em;
    /* padding: 30px; */
    gap: 10rem;
}

.box {
    display:inline-block;
}

.brand.text {
    width: 0;
    min-width: 100%;
    margin-bottom: 3rem;
}

img[src="images/girl-read-side-doodle.svg"] {
    width: 40rem;
    height: auto;
}

/* Sign up container side */

.sign-up {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;
 
}

.form {
    margin: 0em;
}

.form-fields-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding-bottom: 40px;
    width: 80%;
  
}

.form-input-container {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    gap: 0.3rem;
}

input {
    height: 40px;
    width: 350px;
    font-size: 1.5rem;
}
.form-input-container input:focus {
    outline: none;
    border: 2px solid var(--main-color);
}

.form-input-container.success input {
    outline: none;
    border: 2px solid var(--input-success-color);
}

.form-input-container.error input {
    outline: none;
    border: 2px solid var(--input-error-color);
}

.form-input-container > .error {
    color: var(--input-error-color);
    font-size: 1.2rem;
    height: 0.8rem;
}


button {
    background-color: var(--main-color);
    border: none;
    border-radius: 3px;
    font-family: var(--body-font-family);
    font-size: var(--regular-font-size);
    padding: 0.5em 1em;
    color: var(--light-color);
    text-decoration: none;
    text-align: center;
}

button:hover {
    background-color: var(--main-color-darker);
}

a:link {
    text-decoration: none;
    color: var(--main-color);
}

a:hover{
    text-decoration: underline;
}
