/* 
font-family: 'Merriweather', Baskerville, Georgia, Garamond, serif; 
font-family: 'Lato', Helvetica, Verdana, Tahoma, sans-serif;


rem font size
rem other things

em buttons

*/

img[src="images/girl-read-side-doodle.svg"] {
    width: 20rem;
    height: auto;
}

