/* 
font-family: 'Merriweather', Baskerville, Georgia, Garamond, serif; 
font-family: 'Lato', Helvetica, Verdana, Tahoma, sans-serif;


rem font size
rem other things

em buttons

*/

:root {
    --main-color: hsl(250, 79%, 68%);
    --main-color-darker: hsl(250, 48%, 47%);
    --light-color: hsl(0, 0%, 100%);
    --regular-font-size: 2rem;
    --header-font-family: 'Merriweather', Georgia, Garamond, serif;
    --body-font-family: 'Lato', Helvetica, Verdana, Tahoma, sans-serif;

}

.title {
    font-size: 4.5rem;
}

h1, h2 {
    font-family: var(--header-font-family);
}

body {
    font-family: var(--body-font-family);
    font-size: var(--regular-font-size);
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
    padding: 30px;
    gap: 10rem;
}

.box {
    display:inline-block;
}

.brand.text {
    width: 0;
    min-width: 100%;
}

img[src="images/girl-read-side-doodle.svg"] {
    width: 40rem;
    height: auto;
}

/* Sign up container side */

.sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .form {
  
} */

.form-fields-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 40px;
    /* margin: 30px;
    padding: 50px; */
}

.form-input-container {
    display: flex;
    flex-direction: column;
    /* flex-basis: 50%; */
}

input {
    height: 40px;
    width: 350px;
}
input:focus {
    outline: none;
    border: 2px solid var(--main-color);
}


button {
    background-color: var(--main-color);
    border: none;
    border-radius: 3px;
    font-family: var(--body-font-family);
    font-size: var(--regular-font-size);
    padding: 0.5em 1em;
    color: var(--light-color);
    text-decoration: none;
    text-align: center;
}

button:hover {
    background-color: var(--main-color-darker);
}

a:link {
    text-decoration: none;
    color: var(--main-color);
}

a:hover{
    text-decoration: underline;
}
